/* Headers */
.nuxt-content h1 {
  @apply text-3xl font-bold mb-3;
}
.nuxt-content h2 {
  @apply text-2xl font-semibold mb-3 mt-4;
}
.nuxt-content h3 {
  @apply text-xl font-medium mb-2 mt-3;
}
.nuxt-content h4 {
  @apply text-lg font-normal my-2;
}
.nuxt-content h5 {
  @apply text-base font-normal my-1;
}

/* Adds an invisible margin-top for titles anchors to scroll properly */
.nuxt-content h1, .nuxt-content h2, .nuxt-content h3, .nuxt-content h4, .nuxt-content h5 {
  &:before {
    display: block;
    content: "";
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
    pointer-events: none;
  }
}

.nuxt-content h1, .nuxt-content h2, .nuxt-content h3 {
  position: relative;
}

.nuxt-content h1 > a, .nuxt-content h2 > a, .nuxt-content h3 {
  position: absolute;
  width: 100%;
  height: 1.5rem;
  bottom: 0.5rem;
}

/* Text content */
.nuxt-content p {
  @apply text-base font-normal my-2;
}

/* Code blocks */
.nuxt-content code, kbd, samp {
  @apply text-sm;
}
