@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  a {
    @apply inline-block;
  }

  a:hover {
    @apply cursor-pointer;
  }

  h1 {
    @apply text-2xl font-bold mb-3;
  }
  h2 {
    @apply text-xl font-semibold mb-3;
  }
  h3 {
    @apply text-lg font-medium mb-2;
  }
  h4 {
    @apply text-base font-normal mb-2;
  }
  h5 {
    @apply text-base font-normal mb-1;
  }
}

@layer utilities {
  .flex-normal {
    flex: 1 0 auto;
  }
  .max-w-xxs {
    max-width: 16rem;
  }
  .l-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .l-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .font-mali {
    font-family: 'Mali';
  }
  @responsive {
    .top-12 {
      top: 2rem;
    }
    .top-14 {
      top: 2.5rem;
    }
  }
}

.shift-x-sm {
  @apply transform duration-300 ease-in-out;
  &:hover {
    @apply translate-x-2;
  }
}
